services:
  postgres:
    image: postgres:16-alpine
    restart: unless-stopped
    env_file: .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    volumes:
      - redis_data:/data
    networks:
      - app-network

  api-blue:
    image: albums-api:${TAG}
    env_file: .env
    ports:
      - "3333:3333"
    networks:
      - app-network
    depends_on:
      - postgres
      - redis

  api-green:
    image: albums-api:${TAG}
    env_file: .env
    ports:
      - "3334:3333"
    networks:
      - app-network
    depends_on:
      - postgres
      - redis

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
  redis_data:
